@import "reset.css";
@import "global.css";

$Roboto: 'Roboto', sans-serif;

#main {
	width: 100%;
	min-height: calc(100% - 200px);
	background: url("../img/schedule/background.png") repeat center;
	background-size: 100%;
	background-position: right 0% bottom 2%;

	@media (max-width: 425px) {
		height: calc(100% - 100px);
	}

	.inner {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;

		@media (max-width: 425px) {
			position: absolute;
			transform: scale(0.4);
			top: 0px;
		}

		.title {
			padding-top: 30px;
			font-size: 36px;

			span {
				font-size: 48px;
				color: #005AA7;
			}
		}

		.video {
			margin-top: 30px;
			width: 750px;
			height: 422px;
			background-color: #fff;

			iframe, video {
				width: 100%;
				height: 100%;
			}
		}

		.panel {
			overflow: hidden;
			width: 750px;
			height: 100px;
			background-color: #fff;
			margin-top: 70px;
			box-shadow: 0px 138px 323px rgba(0, 0, 0, 0.07), 0px 57.6531px 134.942px rgba(0, 0, 0, 0.0503198), 0px 30.8241px 72.1463px rgba(0, 0, 0, 0.0417275), 0px 17.2797px 40.4446px rgba(0, 0, 0, 0.035), 0px 9.17714px 21.4798px rgba(0, 0, 0, 0.0282725), 0px 3.81881px 8.93824px rgba(0, 0, 0, 0.0196802);
			border-radius: 30px;
			display: flex;

			.button {
				width: 25%;
				height: 100%;
				background-color: #fff;
				border-right: 2px solid #F1F1F1;
				color: #C5C5C5;
				text-align: center;
				font-size: 28px;
				letter-spacing: 1.2px;

				&:last-child {
					border-right: none;
				}

				&.active {
					color: #fff;
					background: linear-gradient(285.93deg, #005AA7 -0.87%, #0089FF 98.02%);
				}
			}
		}
	}
}