@import "reset.css";
@import "global.css";

$Roboto: 'Roboto', sans-serif;

#main {
	width: 100%;
	height: calc(100vh - 18.51851851851852vh);
	background: url("../img/schedule/background.png") repeat center;
	background-size: 100%;
	background-position: right 0% bottom 5%;
	display: flex;
	justify-content: center;

	.form {
		margin-top: 4.62962962962963vh;

		.title {
			color: #005AA7;
			font-size: 3.7037037037037033vh;
			font-weight: 400;
		}

		.subtitle {
			margin-top: 2.314814814814815vh;
			font-size: 2.5925925925925926vh;
			letter-spacing: .0.4629629629629629vh;
			margin-bottom: 3.7037037037037033vh;
		}

		.input_inner {
			width: 30.833333333333332vh;
			position: relative;

			.img1 {
				position: absolute;
				right: -5.092592592592593vh;
				top: -2.7777777777777777vh;
			}

			.img2 {
				left: -2.7777777777777777vh;
				top: -2.314814814814815vh;
				position: absolute;
			}

			.img3 {
				right: -2.7777777777777777vh;
				top: -2.314814814814815vh;
				position: absolute;
			}
		}

		.radio {
			position: relative;
			bottom: 1.3888888888888888vh;
			display: flex;
			justify-content: start;
			margin-bottom: 0.9259259259259258vh;
			margin-right: 4.62962962962963vh;

			$color1: #005AA7;
			$color2: #fff;

			label {
				cursor: pointer;
				color: #000;
				position: relative;
				-ms-user-select: none;
				-moz-user-select: none;
				-khtml-user-select: none;
				-webkit-user-select: none;

				span {
					position: relative;
					top: 0.18518518518518517vh;
				}
			}

			input[type="checkbox"] {
				position: absolute;
				opacity: 0;
				+ .radio-label {
					&:before {
						content: '';
						background: $color1;
						border-radius: 100%;
						border: 0.09259259259259259vh solid #1A1D27;
						display: inline-block;
						width: 1.43em;
						height: 1.42em;
						position: relative;
						top: -0.2em;
						margin-right: 1em; 
						vertical-align: top;
						cursor: pointer;
						text-align: center;
						transition: all 250ms ease;
					}
				}
				&:checked {
					+ .radio-label {
						&:before {
							background-color: $color2;
							box-shadow: inset 0 0 0 4px $color1;
						}
					}
				}
				& {
					+ .radio-label {
						&:before {
							outline: none;
							border-color: $color2;
						}
					}
				}
				&:disabled {
					+ .radio-label {
						&:before {
							box-shadow: inset 0 0 0 4px $color1;
							border-color: darken($color1, 25%);
							background: darken($color1, 25%);
						}
					}
				}
				+ .radio-label {
					&:empty {
						&:before {
							margin-right: 0;
						}
					}
				}
			}
		}

		.input {
			display: block;
			width: 30.833333333333332vh;
			height: 5.555555555555555vh;
			margin-bottom: 1.8518518518518516vh;
			border-radius: 0.9259259259259258vh;
			transition: all .4s ease;
			border: 0.18518518518518517vh solid rgba(0, 90, 167, 0.25);
			padding: 0 1.8518518518518516vh;
			font-size: 1.6666666666666665vh;
			position: relative;
			color: #BFBFBF;

			img {
				display: none;
			}
			
			&:focus {
				color: #005AA7;
				border: 2px solid #005AA7;
			}
		}

		.buttons {
			padding-top: 1.8518518518518516vh;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.button {
			width: 16.203703703703702vh;
			letter-spacing: 0.2777777777777778vh;
			height: 5.555555555555555vh;
			color: #fff;
			font-weight: 400;
			font-size: 1.6666666666666665vh;
			background: linear-gradient(90deg, #005AA7 0%, #0089FF 100%);
			border-radius: 0.9259259259259258vh;
			transition: all .2s ease;

			&:active {
				opacity: 0.9;
			}
		}

		.forgot {
			margin-left: 1.8518518518518516vh;
			color: #7C7C7C;
			font-size: 16px;
			letter-spacing: .8px;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	@media (max-width: 425px) {
		height: calc(100vh - 9.25925925925926vh);
		background-position: right 0% bottom 2%;
	}
}

// Auto VH | by Miron Diamond
// https://mirondiamond.ru

@media (min-width: 666px) {
	@import "reset.css";
	@import "global.css";
	
	$Roboto: 'Roboto', sans-serif;
	
	#main {
	width: 100%;
	height: calc(100vh - 18.51851851851852vh);
	background: url("../img/schedule/background.png") repeat center;
	background-size: 100%;
	background-position: right 0% bottom 5%;
	display: flex;
	justify-content: center;
	
	.form {
	margin-top: 4.62962962962963vh;
	
	.title {
	color: #005AA7;
	font-size: 3.7037037037037033vh;
	font-weight: 400;
	}
	
	.subtitle {
	margin-top: 2.314814814814815vh;
	font-size: 2.5925925925925926vh;
	letter-spacing: .0.4629629629629629vh;
	margin-bottom: 3.7037037037037033vh;
	}
	
	.input_inner {
	width: 30.833333333333332vh;
	position: relative;
	
	.img1 {
	position: absolute;
	right: -5.092592592592593vh;
	top: -2.7777777777777777vh;
	}
	
	.img2 {
	left: -2.7777777777777777vh;
	top: -2.314814814814815vh;
	position: absolute;
	}
	
	.img3 {
	right: -2.7777777777777777vh;
	top: -2.314814814814815vh;
	position: absolute;
	}
	}
	
	.radio {
	position: relative;
	bottom: 1.3888888888888888vh;
	display: flex;
	justify-content: start;
	margin-bottom: 0.9259259259259258vh;
	margin-right: 4.62962962962963vh;
	
	$color1: #005AA7;
	$color2: #fff;
	
	label {
	cursor: pointer;
	color: #000;
	position: relative;
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	
	span {
	position: relative;
	top: 0.18518518518518517vh;
	}
	}
	
	input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	+ .radio-label {
	&:before {
	content: '';
	background: $color1;
	border-radius: 100%;
	border: 0.09259259259259259vh solid #1A1D27;
	display: inline-block;
	width: 1.43em;
	height: 1.42em;
	position: relative;
	top: -0.2em;
	margin-right: 1em;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
	}
	}
	&:checked {
	+ .radio-label {
	&:before {
	background-color: $color2;
	box-shadow: inset 0 0 0 0.41237113402061853vh $color1;
	}
	}
	}
	& {
	+ .radio-label {
	&:before {
	outline: none;
	border-color: $color2;
	}
	}
	}
	&:disabled {
	+ .radio-label {
	&:before {
	box-shadow: inset 0 0 0 0.41237113402061853vh $color1;
	border-color: darken($color1, 25%);
	background: darken($color1, 25%);
	}
	}
	}
	+ .radio-label {
	&:empty {
	&:before {
	margin-right: 0;
	}
	}
	}
	}
	}
	
	.input {
	display: block;
	width: 30.833333333333332vh;
	height: 5.555555555555555vh;
	margin-bottom: 1.8518518518518516vh;
	border-radius: 0.9259259259259258vh;
	transition: all .4s ease;
	border: 0.18518518518518517vh solid rgba(0, 90, 167, 0.25);
	padding: 0 1.8518518518518516vh;
	font-size: 1.6666666666666665vh;
	position: relative;
	color: #BFBFBF;
	
	img {
	display: none;
	}
	
	&:focus {
	color: #005AA7;
	border: 0.20618556701030927vh solid #005AA7;
	}
	}
	
	.buttons {
	padding-top: 1.8518518518518516vh;
	display: flex;
	align-items: center;
	justify-content: center;
	}
	
	.button {
	width: 16.203703703703702vh;
	letter-spacing: 0.2777777777777778vh;
	height: 5.555555555555555vh;
	color: #fff;
	font-weight: 400;
	font-size: 1.6666666666666665vh;
	background: linear-gradient(90deg, #005AA7 0%, #0089FF 100%);
	border-radius: 0.9259259259259258vh;
	transition: all .2s ease;
	
	&:active {
	opacity: 0.9;
	}
	}
	
	.forgot {
	margin-left: 1.8518518518518516vh;
	color: #7C7C7C;
	font-size: 1.6494845360824741vh;
	letter-spacing: .0.8247422680412371vh;
	
	&:hover {
	text-decoration: underline;
	}
	}
	}
	
	@media (max-width: 43.81443298969072vh) {
	height: calc(100vh - 9.25925925925926vh);
	background-position: right 0% bottom 2%;
	}
	}
}